<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}DEVOUR!{{else}}YUM!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>